# קריאה לנתוני תאונות הדרכים

In [8]:

import pandas as pd

url_list = [
    r'https://raw.githubusercontent.com/MaorWN/FirstL/main/H20211163AccData.csv',
    r'https://raw.githubusercontent.com/MaorWN/FirstL/main/H20221162AccData.csv',
    r'https://raw.githubusercontent.com/MaorWN/FirstL/main/H20231161AccData.csv'
]

# קריאת כל הקבצים ואיחודם בלולאה
super_df = pd.concat([pd.read_csv(url, encoding='latin1') for url in url_list], ignore_index=True)
#super_df.to_csv("accdata.csv", index=False, encoding="utf-8-sig")

In [9]:
super_df

,pk_teuna_fikt,sug_tik,THUM_GEOGRAFI,SUG_DEREH,SEMEL_YISHUV,REHOV1,REHOV2,BAYIT,ZOMET_IRONI,KVISH1,...,MEKOM_HAZIYA,KIVUN_HAZIYA,MAHOZ,NAFA,EZOR_TIVI,MAAMAD_MINIZIPALI,ZURAT_ISHUV,STATUS_IGUN,X,Y
0,2020007043,3,1,2,7400,NaN,NaN,9999.0,NaN,NaN,...,0,9,4,41,411,0.0,13.0,2,187251.0,691402.0
1,2020044999,3,1,2,5000,1040.0,NaN,9999.0,NaN,NaN,...,0,9,5,51,511,0.0,13.0,3,179553.0,665859.0
2,2020058555,3,1,2,5000,180.0,NaN,9999.0,NaN,NaN,...,0,9,5,51,511,0.0,13.0,3,181474.0,667671.0
3,2020062959,3,1,2,9100,NaN,NaN,9999.0,NaN,NaN,...,0,9,2,24,245,0.0,15.0,2,209450.0,768109.0
4,2020081527,3,1,2,1290,NaN,NaN,9999.0,NaN,NaN,...,0,9,4,41,412,99.0,28.0,2,203505.0,696817.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129481,2023099992,3,1,2,3000,1839.0,NaN,9999.0,NaN,NaN,...,0,9,1,11,111,0.0,12.0,3,220034.0,628542.0
129482,2023099993,3,1,2,1292,6713.0,NaN,1.0,NaN,NaN,...,0,9,2,24,246,99.0,26.0,2,214732.0,759288.0
129483,2023099994,3,1,2,2620,210.0,NaN,9999.0,NaN,NaN,...,0,9,5,51,512,0.0,16.0,3,187029.0,663470.0
129484,2023099997,3,1,2,7900,NaN,NaN,9999.0,NaN,NaN,...,0,9,4,42,422,0.0,13.0,2,189424.0,665794.0
129485,2023099998,3,1,2,4000,512.0,NaN,45.0,NaN,NaN,...,0,9,3,31,311,0.0,13.0,1,199614.0,747146.0